# build directory and compiled objects
build/
temp/
tests/outputs/
.vscode/
*.o
*.mod
tools/examples/*.png
outputs/

# Restart and driver files
examples/*/init*
examples/*/*driver*

# macOS specific
.DS_Store

# Matlab artifacts
*.m~

# Python
*.pyc