[submodule "2decomp-fft"]
	path = 2decomp-fft
	url = https://github.com/uDALES/2decomp-fft.git

[submodule "tools/View3D"]
	path = tools/View3D
	url = https://github.com/uDALES/View3D.git
	branch = master
[submodule "external/json-fortran"]
	path = external/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
