# Compiled Object files
*.o

# Fortran module files
*.mod

# Executables
*.out
dalesurban_*
pre/output
pre/temp
# Large output files
work/

# Links to restart files in work
exp/*/init*

# job files from HPC queues
exp/*/job.*

# additional files from compiling
*.o
*.mod

# macOS specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# jupyter notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
.eggs/
temp/
