# uDALES (https://github.com/uDALES/u-dales).
# Copyright (C) 2019 D. Meyer.

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

language: python

addons:
  apt:
    packages:
      - gfortran
      - libopenmpi-dev
      - openmpi-bin
      - libnetcdf-dev
      - libnetcdff-dev
      - graphviz

matrix:
    include:
        - os: linux
          dist: xenial
          sudo: false
          python: 3.7
          env: BUILD_TYPE=Debug
        - os: linux
          dist: xenial
          sudo: false
          python: 3.7
          env: BUILD_TYPE=Release
        - os: osx
          language: generic
          osx_image: xcode11.2
          env: BUILD_TYPE=Debug
        - os: osx
          language: generic
          osx_image: xcode11.2
          env: BUILD_TYPE=Release

before_install:
  - if [[ $TRAVIS_OS_NAME == osx ]]; then brew update && brew upgrade gcc python; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install netcdf open-mpi; fi
  - which python3
  - python --version

install:
  - python3 -m pip install -r tests/requirements.txt

script:
  # Travis clones only the history leading to the tip of a single branch (https://stackoverflow.com/a/44036486).
  - git remote set-branches --add origin master
  - git fetch origin master
  # Always tests against master as our reference branch.
  - python3 tests/run_tests.py master $TRAVIS_COMMIT $BUILD_TYPE

before_deploy:
  - python3 -m pip install graphviz ford mkdocs-material
  - mkdocs build --site-dir build/html
  - ford docs/udales-docs-software.md
  - mkdir -p temp/html/0YiO263pFxExSdkMvWfId3qkVUSF4dREFnwM1jQD9y1KvzeAVAWzGykQemUrkJCM
  - mv build/html temp/html/0YiO263pFxExSdkMvWfId3qkVUSF4dREFnwM1jQD9y1KvzeAVAWzGykQemUrkJCM

deploy:
 provider: pages
 skip_cleanup: true
 github_token: $GITHUB_TOKEN
 local_dir: temp/html
 on:
   all_branches: true
   condition: $TRAVIS_OS_NAME = 'linux' && $BUILD_TYPE = 'Release'
