name: CI

on: [push, pull_request]

jobs:
  main:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    name: ${{ matrix.os }} ${{ matrix.build-type }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        build-type: ['Release']
    
    steps:
    - name: Check-out project
    - uses: actions/checkout@v2

    - name: Set up repository
      # Clone all history leading to the tip of a single branch
      # See https://stackoverflow.com/a/44036486.
      run: |
        git remote set-branches --add origin master
        git fetch origin master

    - name: Install system dependencies
      run: bash .github/scripts/install_deps.sh

    - name: Install python dependencies
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        activate-environment: udales
        environment-file: environment.yml

    - name: Build and test uDALES
      # 'shell' required to activate environment.
      # See https://github.com/conda-incubator/setup-miniconda#IMPORTANT.
      shell: bash -l {0}
      run: |
        if [ ${{ matrix.os }} = 'macos-latest' ]; then export FC=gfortran-9; fi
        python3 tests/run_tests.py master $GITHUB_SHA ${{ matrix.build-type}}

    - name: Build docs
      if: matrix.os == 'ubuntu-latest' && matrix.build-type == 'Release'
      shell: bash -l {0}
      run: |
        mkdocs build --site-dir build/html
        ford docs/udales-docs-software.md
        mkdir -p temp/html/0YiO263pFxExSdkMvWfId3qkVUSF4dREFnwM1jQD9y1KvzeAVAWzGykQemUrkJCM
        mv build/html temp/html/0YiO263pFxExSdkMvWfId3qkVUSF4dREFnwM1jQD9y1KvzeAVAWzGykQemUrkJCM

    - name: Publish docs
      if: matrix.os == 'ubuntu-latest' && matrix.build-type == 'Release' && github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: temp/html
        force_orphan: true
